@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

.container {
    margin-inline: auto;
    max-width: 700px;
}

.CaixaLogin {
    background: linear-gradient(90deg, #EDEEE8, #fff);
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 40% 5% 0px 5%;
    
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.Logo {
    width: 200px;
}


.campos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    text-align: center;
}

.campo-login {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(202, 202, 202);
    font-weight: 700;
    padding-left: 10px;

}


.botao {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: black;
    color: #fff;
    /* font-weight: 500; */
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /* font-size: medium; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ---------- */

.AlterarSenha {
        background-image: linear-gradient(90deg, #EDEEE8, #FFFFFF);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 40% 5% 0% 5%;
        align-items: center;
        gap: 3rem;
    }


/* -------------------- */
.header-pac{
    width: 100vw;
    height: 100;
    background-image: linear-gradient(90deg, #EDEEE8, #ffffff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.PainelPac{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #EDEEE8, #ffffff);
  
}

.logo-painel {
    width: 100px;
}

.MainPaciente{
    margin: 0px 40px 0px 40px;
    /* margin-inline: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    width: 500px;
    height: 100vh;
    background-image: linear-gradient(90deg, #EDEEE8, #ffffff);
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
    box-shadow: -2px 0px 4px 1px rgba(0, 0, 0, 0.322);
}



.esconder {
    flex-direction: column;
    display: flex;
    z-index: 100;
    padding: 50px;
    direction: rtl;
    gap: 0.5rem;

}

.proximas-consultas {
    margin-bottom: 70px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

}

.container-consultas {
    width: 100%;
    height: 180px;
    display: flex;
    gap: 10px;
    overflow: visible;
    position: relative;
    overflow: hidden;
}

.consulta {
    width: 300px;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.consulta2 {
    left: 330px;
}

.consulta3 {
    left: 660px;
}

.consulta-imagem1{
    background-image: url(../../imgs/cardiologista.jpeg);
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    direction: rtl;
    padding: 15px;
    font-weight: 500;
}

.consulta-imagem2{
    background-image: url(../../imgs/nutricionista.png);
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    direction: rtl;
    padding: 15px;
    font-weight: 500;
}

.consulta-imagem3{
    background-image: url(../../imgs/psicologo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    direction: rtl;
    padding: 15px;
    font-weight: 500;
}

.servicos-imagem1{
    background-image: url(../../imgs/consultas.jpg);
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    padding: 15px;
    font-weight: 500;
    cursor: pointer;

}

.servicos-imagem2{
    background-image: url(../../imgs/prancheta.jpg);
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    padding: 15px;
    font-weight: 500;
    cursor: pointer;

}

.servicos-imagem3{
    background-image: url(../../imgs/paciente.jpg);
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    padding: 15px;
    font-weight: 500;
    cursor: pointer;

}

.consulta-botao {
    height: 50px;
    background-color: #67F1A0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 900;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;    
}





.servicos-disponiveis{
    height: calc(100vh / 2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    
}

.telechamada {
    background-image: linear-gradient(90deg, #EDEEE8, #ffffff);
    height: 100vh;
    width: 100vw;
}

.telechamada-codigo-corpo {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 200px 0px 0px 0px;
    /* align-items: center; */
    text-align: center;
    border: 1px solid red;
}

.telechamada-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.teleconsulta-botoes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input[placeholder]{
    text-align: center;
}


.telechamada-corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px 50px 50px 60px;
    align-items: center;
}


.telechamada-principal {
    /* border: 1px solid black; */
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video {
    width: 100%;
    height: 300px;
    border-radius: 10px ;
    background-color: black;
}

.telechamada-botao {
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.tele-botao{
    width: 70px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

.tele-botao:last-child {
    background-color: red;
}

/* ------------------------------------------------------- */
.pacientes {
    background-image: linear-gradient(90deg, #EDEEE8, #ffffff);
    width: 100vw;
    height: 100vh;
}

.container-pacientes {
    height: 100%;
    margin: 0px 50px 0px 50px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-wrap: break-word;
}

.pacientes-menu {
    display: flex;
    /* justify-content: center; */
    gap: 4rem;
    margin-bottom: 0.5rem;
}

.lista-pacientes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    
}

.paciente{
    display: flex;
    gap: 4rem;
    
}

.id {
    width: 50px;
    overflow: hidden;
    font-weight: 500;
}

.nome {
    width: 150px;
    overflow: hidden;
    font-weight: 500;

}

.cpf {
    width: 120px;
    overflow: hidden;
    font-weight: 500;

}

.paciente-selecionado {
    border: 2px solid rgba(0, 0, 0, 0.05
    );
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #D9D9D9;
}

/* ------------------------------------------------ */

.painel-adm {
    background-image: linear-gradient(90deg, #EDEEE8, #ffffff);
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    padding: 50px 50px 0px 50px;
    
}

.paineis{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.painel-menu {
    /* border: 1px solid black; */
    width: 70%;
    height: 50px;
    position: absolute;    
    border-radius: 10px;
    bottom: 50px;
    left: calc(100% /7);
    background-color: #EEEFE9;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.leitos-painel {
    /* border: 1px solid black; */
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.leitos-painel p {
    font-size: 2rem;
    color: red;
    font-weight: 700;
}

.suprimentos-painel {
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    padding: 20px 50px 20px 50px;
}

.suprimentos-painel-info {
    display: flex;
    gap: 5rem;
    justify-content: center;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 0.5rem;
}

.suprimentos-painel-info-produto {
    display: flex;
    justify-content: center;
    font-weight: 700;
    flex-direction: column;
    padding-top: 0.5rem;
}

.painel-info-produto{
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.p-nome-produto {
    width: 100px;
}

.p-quantidade-produto {
    width: 100px;
}

.pouco {
    color: red;
}


.financeiro-painel {
    /* border: 1px solid black; */
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.financeiro-painel p {
    font-size: 2rem;
    color: green;
    font-weight: 700;
}
/* ------------------- */
.container-leitos {
    height: 100%;
    margin: 0px 50px 0px 50px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-wrap: break-word;
}

.container-leitos-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adicionar-leitos{
    font-size: 1.5rem;
}

.leitos-menu {
    display: flex;
    /* justify-content: center; */
    gap: 3em;
    margin-bottom: 0.5rem;
}

.lista-leitos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 570px;
    overflow: hidden;
    /* border: 1px solid black; */
    overflow-y: auto;
    
}

.paciente{
    display: flex;
    gap: 3rem;
}

.numero-leito {
    width: 50px;
    overflow: hidden;
    font-weight: 500;
}

.nome-leito {
    width: 200px;
    font-weight: 500;
}

.internacao-leito {
    width: 120px;
    overflow: hidden;
    font-weight: 500;

}

.paciente-selecionado-leito {
    border: 2px solid rgba(0, 0, 0, 0.05
    );
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #D9D9D9;
}
/* ------------------------------------- */
.historico-clinico {
    background-image: linear-gradient(90deg, #EDEEE8, #fff);
    width: 100vw;
    height: 100vh;
}

.historico-container {
    height: 100%;
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
}

.historico-item {
    width: 100%;
    display: flex;
    gap: 1rem;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    font-weight: 500;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #EEEFE9;
}

.historico-item-data {
    width: 150px;
}

.historico-item-nome {
    width: 170px;
    overflow: hidden;
}

.historico-item-modalidade {
    width: 150px;
}
/* ------------------------------------- */

.consultas {
    background-image: linear-gradient(90deg, #EDEEE8, #fff);
    width: 100vw;
    height: 100vh;
}

.consultas-container {
    height: 100%;
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-consultas-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
}

.consultas-item {
    width: 100%;
    display: flex;
    gap: 1rem;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    font-weight: 500;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #EEEFE9;
}

.consultas-item-data {
    width: 150px;
}

.consultas-item-nome {
    width: 170px;
    overflow: hidden;
}

.consultas-item-modalidade {
    width: 150px;
}

/* -------------------------------- */

.paciente-perfil {
    background-image: linear-gradient(90deg, #EDEEE8, #fff);
    height: 100vh;
    width: 100vw;
    
}

.dado-paciente[placeholder]{
    text-align: left;
}

.paciente-perfil-container {
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dados-perfil-paciente {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info-perfil-paciente {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.info-perfil-paciente-container{
    display: flex;
    gap: 1rem;
}

.dado-paciente {
    background-color: rgba(0, 0, 0, 0.226);
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}









/* -------------------- */

@media (min-width: 701px){
    .container {
        max-width: 100%;
    }

    .Login {
    width: 100vw;
    height: 100vh;
    border: 0;
    box-sizing: border-box;
    display: flex;    
    }

    .Banner {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(Banner/Fundo.jpg);
    background-size: cover;
    height: 100vh;
    width: 10v;
    display: flex;
    }

    .CaixaLogin {
        background: linear-gradient(90deg, #EDEEE8, #fff);
        width: 40%;
        right: 0;
        display: flex;
        padding: 150px;
        gap: 3rem;
        align-items: center;
        
    }

    .Logo {
        width: 200px;
    }

    .campo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }


    .campos {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }

    .campo-login {
        width: 100%;
        height: 2rem;
        border-radius: 0.5rem;
        border: none;
        background-color: rgb(202, 202, 202);
        padding-left: 10px;
        font-weight: 700;
    }

    .botao {
        width: 100%;
        height: 2rem;
        border-radius: 0.5rem;
        border: none;
        background-color: black;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
    }

    .AlterarSenha {
        background-image: linear-gradient(90deg, #EDEEE8, #FFFFFF);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 10% 40% 0% 40%;
        align-items: center;
        gap: 3rem;
    }

    .header {
        flex-direction: column;
    }



    .telechamada-corpo {
        padding: 50px 350px 50px 350px;
    }
    
    .video {
    height: 450px;
    border-radius: 20px ;
    }

    .MainPaciente{
    margin: 0px 350px 0px 350px;
    }

    .container-pacientes {
    margin: 0px 50px 0px 50px;
    padding: 50px 350px 0px 350px;

    gap: 2rem;
    }

    .historico-container {
    margin: 50px 350px 0px 350px;
    }

    .container-item {
    gap: 1.5rem;
    font-size: 1rem;
    }

    .historico-titulo{
        font-size: 1.5rem;
    }

    .consultas-titulo{
        font-size: 1.5rem;
    }

    .consultas-container {
    margin: 50px 350px 0px 350px;
    }

    .container-consultas-item {
    gap: 1.5rem;
    font-size: 1rem;
    }

    .paciente-perfil-container {
    margin: 50px 350px 0px 350px;
    gap: 1rem;
    }

    .botao-info-perfil {
    width: 150px;
    }

}